
  <%= form_for @business do |f| %>
    <% if @business.errors.any? %>
      <h5><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h5>
      <ul>
        <% @business.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :website %><br />
      <%= f.text_field :website %>
    </p>
    <p>
      <%= f.label :start_time %><br />
      <%= f.time_select :start_time, {:ampm => true, minute_step: 30} %>
    </p>
    <p>
      <%= f.label :end_time %><br />
      <%= f.time_select :end_time, {:ampm => true, minute_step: 30}%>
    </p>
     
    <%= f.fields_for :address do |address| %>
      <%= render :partial => 'shared/address', :locals => {:ff => address} %>
    <% end %>

    <h4>Add a Special</h4>
    <%= f.fields_for :specials do |special_fields| %>
      <%= render 'special_fields', :f => special_fields %>
    <% end %>
     
    <p>
      <%= f.submit  %>
    </p>
  <% end %>