<p>
  <%= f.label :name, 'Name' %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :category, 'Category' %><br />
  <%= f.text_field :category %>
</p>
<p>
  <%= f.label :price, 'Price' %><br />
  <%= f.text_field :price %>
</p>
<p>
  <%= f.label :day_of_the_week, 'Day of the week' %><br />
  <%= f.text_field :day_of_the_week %>
</p>