<div class="container">
  <h1 class="heading-center"> <%= @business.name %> </h1> 
  <% if @business.website? %>
    <h5 class="heading-center"><%= link_to "View Website", @business.website, class: "btn btn-primary", target: "_blank" %></h5>
  <% end %>
  <h5 class="heading-center">
    <%= @business.address.line1 %>
    <%= @business.address.city %>
    <%= @business.address.state %>
    <%= @business.address.zip %> 
  </h5>
  <% if @business.image? %>
    <h6 class="heading-center"><%= image_tag @business.image.url(:medium) %></h6>
  <% end %>
</div>
<div class="container">
  <% if @business.check_time %>
    <h4 class="green-text"> Happy Hour is ON until <%= @business.end_time.strftime("%-I") + ":" + @business.end_time.strftime("%M") + @business.end_time.strftime("%p") %></h4>
  <% else %>
    <h4 class="red-text"> You'll have to wait until <%= @business.start_time.strftime("%-I") + ":" + @business.start_time.strftime("%M") + @business.start_time.strftime("%p") + "--"%><%= @business.end_time.strftime("%-I") + ":" + @business.end_time.strftime("%M") + @business.end_time.strftime("%p")%>
    </h4>
  <% end %>
</div>
<div class="container"> 
  <h4><%= @business.name%> Happy Hour Specials </h4>
    <div class="row">
      <% @specials.each do |special| %>
        <div class="col-md-4 small-screen-margin">
          <strong>Item:</strong> <%= special.name %>  <br />
          <strong>Price:</strong> <%= number_to_currency(special.price) %> <br />
          <strong>Category:</strong> <%= special.category %> <br />
          <strong>Day(s) Offered:</strong> <% special.day_of_the_week.each do |day| %>
            <%= day %> <%= "," unless day == day.last %>
            <% end %>
        </div>
      <% end %> <br />
    </div>
  </div>
</div>

<div class="container links">
    <%= link_to "Edit Business", edit_business_path(@business), class: "btn btn-default" %>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
    <h5>Business last updated on: <%=@business.updated_at.strftime('%x') %></h5>
</div>