<h1> <%= @business.name %> </h1> 
<h4> <%= @business.address.line1 %>
<%= @business.address.city %>
<%= @business.address.state %>
<%= @business.address.zip %> </h4>
<%= @business.website %><br />
<h4>Happy Hour Times: <br />
<%= @business.start_time.strftime("%I") + ":" + @business.start_time.strftime("%M") + @business.start_time.strftime("%p") + "--"%>
<%= @business.end_time.strftime("%I") + ":" + @business.end_time.strftime("%M") + @business.end_time.strftime("%p")%><br /></h4>
<h1>Specials </h1>
<% @specials.each do |special| %>
  <%= special.name %> 
  <%= special.price %>
  <%= special.category %>
  <%= special.day_of_the_week %>
  <% end %>