<p>
  <%= ff.label :line1, 'Address 1' %><br />
  <%= ff.text_field :line1 %>
</p>
 
<p>
  <%= ff.label :line2, 'Address 2' %><br />
  <%= ff.text_field :line2 %>
</p>
 
<p>
  <%= ff.label :city %><br />
  <%= ff.text_field :city %>
</p>
 
<p>
  <%= ff.label :state %><br />
  <%= ff.text_field :state, :size => 2 %>
</p>
 
<p>
  <%= ff.label :zip, 'Zip Code' %><br />
  <%= ff.text_field :zip %>
</p>